# DS_D29_LU1_V1.0
In this demo, you will be shown how to calculate z-statistic.

In [1]:
#Step1: Import the required library
import pandas as pd
import numpy as np

In [10]:
data1 = pd.read_csv('boston_house_prices.csv')
data1.head(4)

,506,13,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
1,0.00632,18,2.31,0,0.538,6.575,65.2,4.09,1,296,15.3,396.9,4.98,24
2,0.02731,0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.9,9.14,21.6
3,0.02729,0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [2]:
# step1 Load the Boston Housing dataset

df = pd.read_csv('boston_house_prices.csv', header=1)

# step2 Rename the 'MEDV' column to 'target'
df.rename(columns={'MEDV': 'target'}, inplace=True)

# Now, the 'target' column has the same values as the original

In [3]:
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

### Check if the sample mean differs from the population mean.

In [4]:
#Step3: Population mean and population standard deviation
population_target = df.target
mu = population_target.mean()
sigma = population_target.std()
print("Population Mean:", mu,"\nPopulation std:", sigma)

Population Mean: 22.532806324110677
Population std: 9.19710408737982

In [5]:
#Step4: Draw sample of 100
sample_size = 100
sample = df.sample(n=sample_size, random_state=4).target
sample_mu = sample.mean()
sample_sigma = sample.std()
print("Sample Mean:", sample_mu,"\nSample std:", sample_sigma)

Sample Mean: 23.611
Sample std: 9.668514922576312

### Perform Null Hypothesis using Z-statistic

In [7]:
"""
Null Hypothesis: population mean = sample mean
"""
from statsmodels.stats.weightstats import ztest
zstats, pval = ztest (df.target, x2= sample, value=0, alternative="two-sided")
zstats

-1.0621218801257202

In [8]:
pval

0.28818035825575616

significance level= 0.05

value0: This is the hypothesized population mean difference. In your code, it's set to 0, which means you are testing whether the means of the two samples are significantly different from each other (two-sided test).